/*jest tu trochę zbyt dużo kodu ale nie miałem jak inaczej naprawić pewnego błędu który powodował że strona nie wyglądała za dobrze w mniejszych rozdzielczościach */
@media screen and (max-width: 1580px)		{.wszystkie_modele{top:1300px;}}
@media screen and (max-width: 1400px)		{.wszystkie_modele{top:1400px;}}
@media screen and (max-width: 1200px)		{.wszystkie_modele{top:1520px;}}
@media screen and (max-width: 1050px)		{.wszystkie_modele{top:1600px;}}
@media screen and (max-width: 880px)		{.wszystkie_modele{top:1700px;}}
@media screen and (max-width: 800px)
{
	.grafika_p {font-size:20px;}
	.pod_modelem {font-size:15px;}
	.wszystkie_modele {top:500px;}
	.grafika_p{font-size:15px;}
	.grafika_div{width:90%; top:200px; left:5%;}
	.pod_modelem {font-size:10px; border: 2px dashed #ff7a7a; letter-spacing:2px; padding: 5px 10px; border-top:none; width:80%;}
	.modele{border: 2px dashed #ff7a7a; border-bottom:none; margin-top:50px; width:80%;}
	h1.naglowek{font-size:22px;}
}
@media screen and (max-width: 720px)		{.wszystkie_modele{top:600px;}}
@media screen and (max-width: 581px)		{.wszystkie_modele{top:700px;}}
@media screen and (max-width: 493px)		{.wszystkie_modele{top:800px;}}
@media screen and (max-width: 435px)		{.wszystkie_modele{top:900px;}}
@media screen and (max-width: 393px)		{.wszystkie_modele{top:1100px;}}
@media screen and (max-width: 335px)		{.wszystkie_modele{top:1240px;}}
@media screen and (max-width: 300px)
{
	.grafika_p{font-size:12px;}
	.grafika_div{width:95%; top:150px; left:2.5%;}
	.pod_modelem {font-size:5px; border: 1px dashed #ff7a7a; letter-spacing:1px; padding: 2.5px 5px; border-top:none; width:80%;}
	.modele{border: 1px dashed #ff7a7a; border-bottom:none; margin-top:25px; width:80%;}
	.wszystkie_modele{top:850px;}
	h1.naglowek{font-size:14px;}
}
@media screen and (max-width: 269px)
{
	.wszystkie_modele{top:950px;}
}